@import 'tailwindcss';
@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



/* Your custom styles */

@theme {
    --font-sans: 'Hanken Grotesk', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-background-black: #000000; /*--#a28089;*/
    --color-card-bg:  #FFC1DA; /*--#C599B6;*/
    --color-card-text: #000;
    --color-card-back-bg: #9c697d;
    --color-body-text: #ffffff;
    --color-section-heading: #ffffff;
    --color-card-back-section: #000;
    --color-card-wide-bg: #9c697d;
}
